// fonts
$font: 'Jost', 'Arial', sans-serif;

// colors
$black100: #000;
$black: #414141;
$black2: #313131;
$grey: #606060;
$blue: #4a62f1;
$blue2: #5369eb;
$blue3: #203df0;
$blue4: #4864ff;
$red: #e51b1f;


// media
$mediaWidthDesktopBig: 1900px;
$mediaWidthDesktop: 1640px;
$mediaWidthLaptop: 1340px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthTablet: 767px;
