.banner {
  padding: 40px 0 80px;
  overflow: hidden;
  @include media-tablet {
    padding: 60px 0 45px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 970px;
    @include media-desktop {
      min-height: 650px;
    }
    @include media-laptop {
      min-height: 480px;
    }
    @include media-tablet {
      min-height: 210px;
    }
  }
  &__back {
    display: block;
    width: 67px;
    height: 25px;
    margin-bottom: 25px;
    background-image: url("data:image/svg+xml,%3Csvg width='67' height='16' viewBox='0 0 67 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292892 7.29289C-0.0976334 7.68342 -0.0976334 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM67 7L1 7V9L67 9V7Z' fill='%234A62F1'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    &:hover {
      opacity: 0.75;
    }
    @include media-laptop {
      width: 50px;
    }
    @include media-tablet {
      width: 35px;
      height: 20px;
      margin-bottom: 15px;
    }
  }
  &__title {
    position: relative;
    @include media-desktop {
      padding-right: 250px;
    }
    @include media-laptop {
      padding-right: 150px;
    }
    @include media-tablet {
      padding-right: 0;
    }
  }
  &__h1 {
    position: relative;
    z-index: 1;
    font: 300 100px/1.2 $font;
    text-transform: uppercase;
    @include media-desktop-big {
      font-size: 90px;
    }
    @include media-desktop {
      font-size: 64px;
    }
    @include media-laptop {
      font-size: 44px;
    }
    @include media-tablet {
      font-size: 24px;
    }
    &--size {
      &-xl {
        font-size: 132px;
        @include media-desktop-big {
          font-size: 110px;
        }
        @include media-desktop {
          font-size: 84px;
        }
        @include media-laptop {
          font-size: 54px;
        }
        @include media-tablet {
          font-size: 23px;
        }
      }
      &-l {
        font-size: 120px;
        @include media-desktop-big {
          font-size: 100px;
        }
        @include media-desktop {
          font-size: 76px;
        }
        @include media-laptop {
          font-size: 50px;
        }
        @include media-tablet {
          font-size: 31px;
        }
      }
      &-s {
        font-size: 90px;
        @include media-desktop-big {
          font-size: 80px;
        }
        @include media-desktop {
          font-size: 56px;
        }
        @include media-laptop {
          font-size: 38px;
        }
        @include media-tablet {
          font-size: 20px;
        }
      }
    }
  }
  &__descr {
    position: relative;
    z-index: 1;
    max-width: 580px;
    margin-top: 70px;
    padding-left: 110px;
    font: 300 25px/1.1 $font;
    @include media-desktop {
      margin-top: 50px;
    }
    @include media-laptop {
      max-width: 440px;
      margin-top: 35px;
      padding-left: 60px;
      font-size: 18px;
    }
    @include media-tablet {
      padding-left: 30px;
      font-size: 12px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 90px;
      height: 1px;
      background: currentColor;
      @include media-laptop {
        width: 40px;
      }
      @include media-tablet {
        width: 20px;
      }
    }
    &--simple {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
  }
  &__btn {
    width: fit-content;
    margin: 15px 20% 0 auto;
    @include media-tablet {
      margin: 10px auto 0;
    }
  }
  &__decor {
    height: 0;
    pointer-events: none;
    &-svg {
      position: absolute;
      top: 50%;
      right: -85px;
      left: -85px;
      transform: translateY(-50%);
      @include media-desktop {
        left: 0;
      }
      @include media-tablet {
        right: -50px;
        left: -15px;
      }
      svg {
        width: 100%;
        height: auto;
      }
    }
    &-text {
      position: relative;
      width: 440px;
      padding: 5px 0;
      font: 20px/1.2 $font;
      color: #fff;
      background: #1030f9;
      border-radius: 50%;
      overflow: hidden;
      @include media-laptop {
        width: 250px;
        font-size: 14px;
      }
      @include media-tablet {
        width: 130px;
        padding: 2px 0;
        font-size: 8px;
      }
    }
    &-tr {
      height: 1.2em;
      white-space: nowrap;
      span {
        box-sizing: unset;
        display: inline-flex;
        padding: 0 2px;
      }
    }
  }
  &--conversion {
    .banner {
      &__content {
        position: relative;
        min-height: 680px;
        padding-left: 100px;
        @include media-desktop {
          min-height: 580px;
        }
        @include media-laptop {
          min-height: 450px;
          padding-left: 0;
        }
        @include media-tablet {
          min-height: 210px;
        }
      }
      &__title {
        position: static;
        @include media-tablet {
          position: relative;
          text-align: center;
        }
      }
      &__descr {
        @include media-tablet {
          max-width: 240px;
          margin-right: auto;
          margin-left: auto;
        }
      }
      &__btn {
        @include media-tablet {
          margin-top: 50px;
        }
      }
      &__decor {
        &-svg {
          right: 85px;
          @include media-laptop {
            right: -85px;
            left: -20px;
          }
          @include media-tablet {
            left: -50px;
            transform: translateY(-55%) rotate(-8deg);
          }
        }
      }
    }
  }
  &--contextual-adv,
  &--full-cycle {
    .banner {
      &__title {
        @include media-tablet {
          text-align: center;
        }
      }
      &__decor {
        &-svg {
          @include media-tablet {
            right: -85px;
            left: -50px;
            transform: translateY(-55%) rotate(-8deg);
          }
        }
      }
    }
  }
  &--target {
    padding-top: 200px;
    @include media-desktop {
      padding-top: 100px;
    }
    @include media-laptop {
      padding-top: 100px;
    }
    .banner {
      &__wrapper {
        display: flex;
        @include media-laptop {
          display: block;
        }
      }
      &__content {
        flex-shrink: 0;
        width: 1000px;
        min-height: 660px;
        @include media-desktop {
          width: 740px;
          min-height: 480px;
        }
        @include media-laptop {
          width: auto;
        }
        @include media-tablet {
          min-height: 210px;
        }
      }
      &__title {
        margin-right: 40px;
        @include media-desktop {
          padding-right: 75px;
        }
        @include media-laptop {
          margin-right: 0;
          padding-right: 150px;
        }
        @include media-tablet {
          padding-right: 0;
        }
      }
      &__h1 {
        @include media-tablet {
          font-size: 28px;
        }
      }
      &__descr {
        @include media-tablet {
          max-width: 85%;
        }
      }
      &__decor {
        &-svg {
          @include media-tablet {
            right: -85px;
            left: -50px;
            transform: translateY(-55%) rotate(-8deg);
          }
        }
      }
      &__slideres {
        display: flex;
        align-self: flex-start;
        flex-shrink: 0;
        @include media-laptop {
          display: none;
        }
      }
      &__slider {
        width: 472px;
        height: 530px;
        @include media-desktop {
          width: 380px;
          height: 426px;
        }
        &:nth-child(1) {
          margin-top: 140px;
          margin-bottom: 130px;
          @include media-desktop {
            margin-top: 100px;
            margin-bottom: 80px;
          }
        }
        &:nth-child(2) {
          margin-left: -235px;
          @include media-desktop {
            margin-left: -200px;
          }
        }
        &:nth-child(3) {
          align-self: flex-end;
          width: 313px;
          height: 376px;
          margin-left: -170px;
          @include media-desktop {
            width: 240px;
            height: 288px;
            margin-left: -140px;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center bottom;
        }
      }
      &__btn {
        margin: 140px 35% 0 auto;
        @include media-laptop {
          margin: 25px auto 0;
        }
      }
    }
  }
  &--cases {
    padding: 120px 0 70px;
    @include media-tablet {
      padding: 55px 0 35px;
    }
    .banner {
      &__content {
        min-height: unset;
      }
      &__title {
        padding: 0;
      }
      &__h1 {
        max-width: 74%;
        font-size: 75px;
        @include media-desktop-big {
          font-size: 60px;
        }
        @include media-desktop {
          font-size: 46px;
        }
        @include media-tablet {
          max-width: unset;
          font-size: 35px;
        }
      }
      &__descr {
        max-width: 310px;
        margin-top: 20px;
        @include media-tablet {
          max-width: 160px;
          margin-top: 8px;
          font-size: 13px;
        }
      }
    }
  }
  &--case-inner {
    padding: 120px 0 70px;
    @include media-tablet {
      padding: 55px 0 40px;
    }
    .banner {
      &__content {
        min-height: unset;
      }
      &__title {
        padding: 0;
      }
      &__h1 {
        max-width: 74%;
        font-size: 75px;
        @include media-desktop-big {
          font-size: 60px;
        }
        @include media-desktop {
          font-size: 46px;
        }
        @include media-laptop {
          font-size: 38px;
        }
        @include media-tablet {
          max-width: unset;
          font-size: 27px;
        }
      }
      &__descr {
        max-width: 335px;
        margin-top: 25px;
        @include media-tablet {
          max-width: 160px;
          margin-top: 15px;
          font-size: 13px;
        }
      }
    }
  }
}
