.creatives {
  position: relative;
  z-index: 10;
  padding: 140px 0 125px;
  text-align: center;
  @include media-laptop {
    padding: 90px 0;
  }
  @include media-tablet {
    padding: 65px 0;
    overflow: hidden;
  }
  &__text {
    position: relative;
    padding: 215px 0;
    @include media-laptop {
      padding: 160px 0;
    }
    @include media-tablet {
      padding: 85px 0;
    }
  }
  &__title {
    max-width: 1360px;
    margin: 0 auto 45px;
    font: 300 90px/1.1 $font;
    text-transform: uppercase;
    @include media-desktop {
      max-width: 74%;
      font-size: 64px;
    }
    @include media-laptop {
      max-width: 660px;
      margin-bottom: 30px;
      font-size: 44px;
    }
    @include media-tablet {
      margin-bottom: 15px;
      font-size: 25px;
    }
  }
  &__descr {
    max-width: 1360px;
    margin: 0 auto;
    font: 300 40px/1.1 $font;
    @include media-laptop {
      max-width: 660px;
      font-size: 24px;
    }
    @include media-tablet {
      max-width: 160px;
      font-size: 12px;
    }
  }
  &__decor {
    position: absolute;
    top: 0;
    right: -80px;
    bottom: 0;
    left: -80px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    @include media-desktop {
      right: -20px;
      left: -20px;
    }
    @include media-laptop {
      right: 0;
      left: 0;
    }
    @include media-tablet {
      right: -200px;
      left: -200px;
    }
    &-deskt {
      @include media-tablet {
        display: none;
      }
    }
    &-mob {
      display: none;
      @include media-tablet {
        display: block;
      }
    }
  }
}
