.gallery-parallax {
  position: relative;
  height: 1600px;
  margin: -500px 0 -400px;
  background-image: url('../img/gallery.png');
  background-attachment: fixed;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  @include media-laptop {
    height: 1200px;
    margin: -360px 0 -280px;
    background-size: 200% auto;
  }
  @include media-tablet {
    height: 600px;
    margin: -230px 0 -140px;
    background-attachment: unset;
    background-size: 160% auto;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
  }
  &::before {
    top: 0;
    height: 500px;
    background: linear-gradient(180deg, #fff 0%, rgba(248, 248, 248, 0.97) 100%);
    @include media-laptop {
      height: 360px;
    }
    @include media-tablet {
      height: 230px;
    }
  }
  &::after {
    bottom: 0;
    height: 400px;
    background: linear-gradient(0deg, #fff 0%, rgba(248, 248, 248, 0.9) 100%);
    @include media-laptop {
      height: 280px;
    }
    @include media-tablet {
      height: 140px;
    }
  }
}
